.backen-admin-pc-navbar {
    border-bottom: solid 1px #e6e6e6;

    &.el-header {
        padding: 5px 15px;
    }

    .global-header {
        height         : 100%;
        display        : flex;
        justify-content: space-between;
        width          : 100%;
    }
}