.backen-admin-pc-navbar {
  border-bottom: solid 1px #e6e6e6;
  z-index: 1;

  &.el-header {
    padding: 5px 15px;
  }

  .global-header {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .global-header-logo {
      user-select: none;
      cursor: pointer;

      img {
        height: 100%;
        width: auto;
        vertical-align: middle;
      }

      span {
        font-size: 1.3rem;
        font-family: 'Pacifico', cursive;
        color: lighten(@primary-color, 15%);
        position: relative;
      }
    }

    .global-header-right-info {
      display: flex;
      align-items: center;
      user-select: none;

      .header-fullscreen,
      .header-i18n {
        cursor: pointer;
        margin: 0 5px;
        display: inline-block;
        font-size: 1rem;
      }

      .person-info {
        border-left: dashed 1px #d9d9d9;
        border-right: dashed 1px #d9d9d9;
        margin-left: 5px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .el-avatar {
          vertical-align: middle;
        }

        span {
          font-size: 0.8rem;
          font-family: 'Pacifico', cursive;
          margin-left: -4px;
        }
      }

      .config-theme {
        margin-left: 12px;
        cursor: pointer;
      }
    }
  }
}
