.manage-ui-render-page {
    display: flex;
    width  : 100%;

    .ui-render-show {
        flex          : 1;
        margin-right  : 40px;
        display       : flex;
        flex-direction: column;
    }

    .ui-render-right-tools {
        width    : 25%;
        min-width: 200px;
    }
}