.manage-forget-password {
  .el-page-header {
    margin-top: 5px;
    margin-left: 15px;
  }

  .manage-pc-steps-page {
    margin-top: 30px;

    .el-carousel__container {
      min-height: 250px;
      height: calc(30vh - 100px) !important;
    }

    .el-input__suffix {
      right: 0;
    }
  }
}
