.manage-forget-password {
  .manage-pc-steps-page {
    margin-top: 30px;

    .el-carousel__container {
      min-height: 275px;
      height: auto !important;
    }

    .el-input__suffix {
      right: 0;
    }
  }

  .manage-mobile-steps-page {
    margin-top: 30px;
    min-height: 450px;
  }
}
