.manage-person-info {
  &.el-dialog {
    .el-dialog__body {
      overflow: hidden;
      padding: 10px 20px;
    }
  }

  .preview-panel {
    display: flex;

    .el-avatar {
      vertical-align: middle;
      box-shadow: 0 0 2px 2px #e6e6e6;
    }

    .info-card {
      width: 25%;
      min-width: 400px;
      margin-right: 20px;

      .el-card__body {
        position: relative;
      }

      .top-info {
        margin: 20px auto 30px;
        width: fit-content;
        text-align: center;

        .el-avatar {
          width: 4rem;
          height: 4rem;
        }

        p {
          &:first-of-type {
            font-family: Pacifico;
            font-size: 0.85rem;
            margin: 7px 0;
            line-height: 24px;

            span {
              font-size: 1.1rem;
              padding-right: 5px;
              color: var(--primary-color);
            }
          }

          line-height: 20px;
          font-size: 0.8rem;
          color: #606266;
        }
      }

      ul {
        li {
          line-height: 28px;
          display: flex;
          align-items: center;
          font-size: 0.8rem;

          i {
            font-size: 1rem;
            color: var(--primary-color);
            padding-right: 8px;
          }
        }
      }
    }

    .other-info-card {
      flex: 1;
      margin-left: 20px;

      .el-tab-pane {
        padding: 10px 30px;
        max-height: calc(100vh - 265px);
        min-height: 400px;
        overflow: hidden auto;

        &.timeline-panel {
          display: flex;
          justify-content: center;
        }

        #last-one {
          height: 0;
          width: 100%;
          display: inline-block;
          text-align: center;
          color: #909299;
          min-width: 400px;
          font-size: 0.9rem;
          transform: translate(-50%, 0);
        }

        &.repository-panel {
          display: flex;
          flex-direction: column;
          padding: 10px;
        }

        .repo-panel {
          display: grid;
          flex: 1;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;

          &>div {
            cursor: pointer;
            background-color: rgba(64, 158, 255, 0.1);
            padding: 20px;
            min-height: 180px;
            border-radius: 8px;
            box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
            position: relative;
            overflow: hidden;

            &:hover {
              box-shadow: 0 2px 12px 0 var(--primary-color);
            }

            .ribbon {
              background-color: #a00;
              overflow: hidden;
              white-space: nowrap;
              position: absolute;
              z-index: 1;
              right: -50px;
              bottom: 30px;
              transform: rotate(-45deg);
              box-shadow: 0 0 10px #888;

              a {
                border: 1px solid #faa;
                color: #fff;
                display: block;
                font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
                margin: 1px 0;
                padding: 10px 45px;
                text-align: center;
                text-decoration: none;
                text-shadow: 0 0 5px #444;

                &:hover {
                  text-shadow: 0 0 5px #fff;
                }
              }
            }

            p {
              line-height: 26px;
              margin: 3px 0;

              &.name {
                font-size: 1rem;
                color: var(--primary-color);
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

              &.desc {
                font-size: 0.75rem;
                color: #606266;
                line-height: 20px;
              }

              &.footer {
                display: flex;
                align-items: center;

                span:not(.el-tag) {
                  padding: 0 7px;
                }
              }
            }
          }
        }
      }
    }
  }
}