.manage-person-info {
  .preview-panel {
    display: flex;

    .el-avatar {
      vertical-align: middle;
      box-shadow: 0 0 2px 2px #e6e6e6;
    }

    .info-card {
      width: 25%;
      min-width: 400px;
      margin-right: 30px;

      .el-card__body {
        position: relative;
      }

      .top-info {
        margin: 25px auto 40px;
        width: fit-content;
        text-align: center;

        .el-avatar {
          width: 4rem;
          height: 4rem;
        }

        p {
          &:first-of-type {
            font-family: Pacifico;
            font-size: 0.85rem;
            margin: 7px 0;
            line-height: 24px;

            span {
              font-size: 1.1rem;
              padding-right: 5px;
              color: var(--primary-color);
            }
          }

          line-height: 20px;
          font-size: 0.8rem;
          color: #606266;
        }
      }

      ul {
        li {
          line-height: 28px;
          display: flex;
          align-items: center;
          font-size: 0.8rem;

          i {
            font-size: 1rem;
            color: var(--primary-color);
            padding-right: 8px;
          }
        }
      }
    }

    .other-info-card {
      flex: 1;
      margin-left: 30px;

      .el-tab-pane {
        padding: 10px 30px;
        max-height: calc(100vh - 225px);
        overflow: hidden auto;
      }
    }
  }
}
