.el-timeline {
  margin-top: 10px;
  width: 0;
  display: flex;
  flex-direction: column;

  .el-timeline-item {
    height: 50px;

    &:first-child {
      .el-timeline-item__wrapper {
        &::before {
          display: none;
        }

        &::after {
          display: none;
        }
      }
    }

    &:last-child {
      .el-timeline-item__wrapper {
        &::before {
          display: none;
        }

        &::after {
          display: none;
        }
      }
    }

    &:nth-child(2n) {
      .el-timeline-item__wrapper {
        left: -400px;
        padding-left: 40px;
        text-align: right;
      }
    }

    .el-timeline-item__wrapper {
      min-width: 310px;
      padding-left: 60px;
      top: -20px;
    }

    .el-timeline-item__dot {
      left: -25px;
      min-width: 70px;
      text-align: center;
      background-color: #f3f5f6;
      padding: 3px 0;
      z-index: 1;
      color: #323232;
    }
  }
}

.el-menu--popup {
  li {
    line-height: 48px !important;
    height: 48px !important;

    .el-submenu__title {
      line-height: inherit !important;
      height: inherit !important;
    }
  }

  .el-menu-item {
    &:not(.is-diabled):hover {
      background-color: var(--primary-bg-color);
      color: var(--primary-color) !important;

      i {
        color: inherit;
      }
    }
  }

  .el-submenu {
    .el-submenu__title {
      &:hover {
        i {
          color: inherit;
        }

        color: var(--primary-color) !important;
        background-color: var(--primary-bg-color);
      }
    }
  }
}
