@import './elementui-plus.less';
@import './vant-next.less';

html,
body,
p {
    margin          : 0;
    padding         : 0;
    background-color: transparent;
}

ul {
    list-style: none;
    margin    : 0;
    padding   : 0;
}

#app {
    font-family            : Microsoft YaHei, Arial, sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition             : all 0.4s;
}

//所有有滚动的滚动条样式
* {
    &::-webkit-scrollbar {
        width : 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background   : rgb(239, 239, 239);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background   : @primary-color;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: @primary-color;
    }

    &::-webkit-scrollbar-corner {
        background: @primary-color;
    }
}