.ui-render-head-tool {
  margin-bottom: 15px;
  text-align: right;

  .el-button {
    & + .el-button {
      margin-left: 15px;
    }
  }
}

.source-config-popover {
  .input-row {
    display: flex;
    align-items: center;

    & + .input-row {
      margin: 15px 0;
    }

    .label-key {
      min-width: 70px;
      text-align: right;
      margin-right: 10px;
    }

    .content {
      flex: 1;
    }
  }

  .el-button {
    width: 100px;
  }
}
