.ui-render-content {
    padding         : 20px;
    background-color: lighten(@primary-color, 35%);
    overflow        : hidden auto;
    max-height      : calc(100vh - 350px);
    flex            : 1;
    border-radius   : 12px;
    border          : solid 1px #e6e6e6;

    .render-panel {
        user-select: none;
    }
}