.manage-register-info {
  .manage-pc-register {
    margin-top: 25px;

    .row {
      & + .row {
        margin-top: 25px;
      }
      &:last-child {
        margin-top: 35px;
      }
    }
  }
}
