.el-breadcrumb {
    line-height  : 1;
    margin-top   : -5px;
    margin-bottom: 15px;

    .el-breadcrumb__inner {
        cursor: pointer !important;

        &:hover {
            color: var(--primary-color) !important;
        }

        &.is-link {
            font-weight: normal;
        }
    }
}