.manage-right-menu {
    position: fixed;
    z-index : 9999;

    ul {
        background-color: #fff;
        box-shadow      : 0 2px 4px 0 rgb(0 0 0 / 12%),
            0 0 6px 0 rgb(0 0 0 / 4%);
        border : 1px solid #DCDFE6;
        padding: 0 20px;

        li {
            padding    : 5px 0;
            line-height: 30px;
            font-size  : .8rem;
            cursor     : pointer;

            &:hover {
                color: @primary-color;
            }

            &+li {
                border-top: dashed 1px #d9d9d9;
            }
        }
    }
}