.global-footer {
  height: 100%;

  p {
    font-size: 0.75rem;
    color: #606266;

    &.footer-visit-info {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
    }
  }
}
