.global-footer {
  height: 100%;

  p {
    font-size: 0.75rem;
    color: #606266;

    &.beian-info {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;

      a {
        color: #606266;
      }

      &:hover {
        a {
          color: var(--primary-color);
        }
      }
    }
  }
}
