.manage-pc-steps-demo {
    .test-panel {
        background-color: lighten(@primary-color, 30%);
        display         : flex;
        justify-content : center;
        align-items     : center;
        margin          : 20px auto;
        min-height      : 700px;
        width           : 90%;
    }

    .manage-pc-steps-content {
        max-height: calc(100vh - 400px);
    }
}