.manage-socket-page {
  display: flex;

  .el-card__header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    user-select: none;

    .el-tag {
      margin-left: 10px;
    }
  }

  .left-tool {
    width: 30%;
    margin-right: 10px;
  }

  .right-content {
    margin-left: 10px;
    flex: 1;
  }
}
