.manage-dynamic-form {
  display: flex;
  flex-direction: column;

  .el-form {
    flex: 1;
    max-height: calc(100vh - 400px);
    overflow: hidden auto;
  }

  .manage-dynamic-form-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .el-form-item {
    display: flex;
    align-items: center;

    .el-form-item__content {
      flex: 1;
      display: flex;
      align-items: center;

      .el-button--danger {
        margin-left: 25px;
      }
    }
  }
}

.manage-dynamic-form-content {
  &.el-popover {
    width: fit-content !important;
  }

  .quick-config-panel {
    min-width: 300px;
    padding: 0 20px;

    p {
      display: flex;
      line-height: 40px;
      align-items: center;

      & + p {
        margin-top: 10px;
      }

      & > span {
        display: inline-block;
        min-width: fit-content;
        margin-right: 10px;
      }
    }
  }
}
