.user-page {
  header {
    display: flex;
    padding: 20px 30px;
    align-items: center;

    .desc {
      flex: 1;
      margin-left: 30px;

      p {
        &:first-child {
          font-size: 1.3rem;
          margin-top: -10px;
        }

        font-size: 0.9rem;
        line-height: 30px;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .van-cell {
    &.theme-color {
      .van-cell__value {
        height: 24px;

        .el-color-picker__trigger {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.user-page-detail {
  .avatar-upload-dialog {
    .van-dialog__content {
      padding: 30px 20px;
    }
  }
}