.manage-json-render {
    display: flex;

    .el-tree {
        flex        : 1;
        max-height  : 600px;
        overflow    : auto;
        margin-right: 10px;
    }

    .manage-json-show {
        flex       : 1;
        margin-left: 10px;
        user-select: none;

        textarea {
            resize        : none;
            pointer-events: none;
        }
    }

    .el-tree-node__content {
        height: auto;
    }

    .json-row {
        display    : flex;
        align-items: center;
        font-size  : .8rem;
        color      : #707070;

        .json-key {
            user-select: none;
            width      : fit-content;
            display    : flex;
            align-items: center;

            .el-input {
                max-width   : 80px;
                margin-right: 5px;
            }
        }

        .json-value {
            padding-top: 2px;
            flex       : 1;
            display    : flex;
            align-items: center;

            .el-input {}

            .el-button {
                &.el-button--text {
                    margin-left: 10px;
                    font-size  : 1rem;
                    cursor     : pointer;
                }
            }

            textarea {
                resize: none;
            }
        }
    }
}