.manage-json-render {
    .el-tree-node__content {
        margin: 5px 0;
    }

    .json-row {
        display    : flex;
        align-items: center;
        line-height: 26px;
        font-size  : .8rem;
        color      : #707070;

        .json-key {
            min-width    : fit-content;
            display      : inline-block;
            overflow     : hidden;
            max-width    : 150px;
            text-overflow: ellipsis;
            white-space  : nowrap;
            margin-right : 5px;
            user-select  : none;
        }

        .json-value {
            flex: 1;

            .el-input {}

            textarea {
                resize: none;
            }
        }
    }
}