.about-docs-page {
    user-select: none;

    .el-card {
        .el-card__header {
            padding  : 12px 20px;
            font-size: 1rem;
        }

        &+.el-card {
            margin-top: 25px;
        }
    }

    .not-el-table {
        tbody tr td {
            line-height: 26px;
            padding    : 6px 20px;
            font-size  : .85rem;
        }
    }
}