.vite-backen-pc-user {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/pc-login.jpeg);
  position: relative;

  .manage-pc-user {
    position: absolute;
    width: 25vw;
    min-width: 475px;
    right: 0;
    top: 45vh;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s;

    .user-form {
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.05);
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;

      .el-tabs {
        .el-tabs__content {
          display: none;
        }

        .el-tabs__item {
          font-size: 0.9rem;
        }
      }

      .row {
        display: block;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px auto;
        width: 85%;

        &.mode-select {
          justify-content: space-between;
          margin: 10px auto;

          i {
            font-size: 1.2rem;
            cursor: pointer;

            &.vite-icon-qrcode {
              font-size: 1.5rem;
            }

            &:hover {
              color: var(--primary-color);
            }
          }
        }

        .special-button {
          margin: 30px auto 0;
          letter-spacing: 2px;
          flex: 1;
          font-size: 0.9rem;
          background-image: linear-gradient(102deg, #50bad1 0%, #00779f 100%),
            linear-gradient(#00789f, #00789f);
          background-blend-mode: normal, normal;
          border-radius: 40px;
          color: rgba(255, 255, 255, 0.8);
          border: none;

          &:hover {
            color: #fff;
          }

          & + .el-button {
            margin-left: 30px;
          }
        }
      }
    }
  }
}

.user-header {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-bottom: 15px;

  img {
    height: 100%;
    width: auto;
  }

  span {
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    filter: brightness(1.15);
    position: relative;
  }
}
